.user-register.w-3/4.self-center.justify-self-center.shadow-md.rounded.px-8.pt-6.pb-8.mb-4.dark:bg-gray-800
  h1.text-2xl.text-center.dark:text-gray-400
    | Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field.mb-4
      = f.label :first_name, class: 'block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400'
      br
      = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    .field.mb-4
      = f.label :last_name, class: 'block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400'
      br
      = f.text_field :last_name, autocomplete: "last_name", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    .field.mb-4
      = f.label :email, class: 'block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400'
      br
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    .field.mb-4
      = f.label :password, class: 'block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400'
      - if @minimum_password_length
        em.dark:text-gray-400
          | (
          = @minimum_password_length
          |  characters minimum)
      br
      = f.password_field :password, autocomplete: "new-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    .field
      = f.label :password_confirmation, class: 'block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400'
      br
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    .actions
      = f.submit "Sign up", class: 'w-full lg:w-auto mb-6 bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 mt-6 rounded focus:outline-none focus:shadow-outline'

  = render "devise/shared/links"