header.w-full.flex.flex-col.justify-around.items-center
  h1.m-6.w-full.text-center.text-3xl.sm:text-4xl.text-transparent.bg-clip-text.bg-gradient-to-tr.to-cyan-500.from-blue-600
    = 'MELODIFY'
  nav.w-full.border.mt-4
      ul.w_full.flex.justify-around.items-center.border
        - if current_user
          li.w-full.text-center.border-2
            = link_to 'Instruments', instruments_path
          li.w-full.text-center.border-2
            = link_to 'Exercises', exercises_path
          li.w-full.text-center.border-2
            = link_to current_user.first_name.to_s + 'My Profile', user_path(current_user)
          li.w-full.text-center.border-2
            = button_to 'Logout', destroy_user_session_path, method: :delete

            /= link_to 'Logout', destroy_user_session_path, class: 'btn btn-logout'
        - else
          li.w-full.text-center.border-2
            = link_to 'Register', new_user_registration_path, class: 'btn btn-register'
          li.w-full.text-center.border-2
            = link_to 'Login', new_user_session_path, class: 'btn btn-login'