header.w-full.flex.flex-col.justify-around.items-center
  h1.m-6.w-full.text-center.text-3xl.sm:text-4xl.text-transparent.bg-clip-text.bg-gradient-to-tr.to-cyan-500.from-blue-600
    = 'MELODIFY'

  button#theme-toggle-btn.w-full.mt-4.text-sm.font-medium.text-center.text-gray-500
    = 'WOAUH'

  div data-controller="theme"
    button data-action="click->theme#toggleTheme" WAHOU AGAIN

  nav.w-full.mt-4.text-sm.font-medium.text-center.text-gray-500.border-gray-200.dark:text-gray-400.dark:border-gray-700
    ul.w_full.flex.justify-around.items-center.mb-px
      - if current_user
        li.w-1/4.text-center
          = link_to 'Instruments', instruments_path, class: 'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-600 rounded-t-lg hover:text-blue-300 hover:border-blue-300'
        li.w-1/4.text-center
          = link_to 'Exercises', exercises_path, class: 'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-600 rounded-t-lg hover:text-blue-300 hover:border-blue-300'
        li.w-1/4.text-center
          = link_to 'My Profile', user_path(current_user), class: 'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-600 rounded-t-lg hover:text-blue-300 hover:border-blue-300'
        li.w-1/4.text-center
          = button_to 'Logout', destroy_user_session_path, method: :delete, class: 'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-600 rounded-t-lg hover:text-blue-300 hover:border-blue-300'
      - else
        li.w-1/2.text-center
          = link_to 'Register', new_user_registration_path, class: 'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-600 rounded-t-lg hover:text-blue-300 hover:border-blue-300'
        li.w-1/2.text-center
          = link_to 'Login', new_user_session_path, class: 'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-600 rounded-t-lg hover:text-blue-300 hover:border-blue-300'