html
  head
    title Melodify
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "main", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module"
    script src="https://kit.fontawesome.com/2ca27ca8e3.js" crossorigin="anonymous"
  body.w-full.min-h-screen.dark:bg-gray-800.m-0.p-0
    = render 'layouts/header', user: @user
    - if notice
      p.notice.p-4.dark:bg-gray-800.dark:text-gray-400 = notice
    - if alert
      p.alert.p-4.dark:bg-gray-800.dark:text-gray-400 = alert

    .wrapper.w-full.h-full.p-4.dark:bg-gray-800.flex.flex-col.dark:text-gray-400
      = yield
