doctype html
html
head
title Melodify
meta name="viewport" content="width=device-width,initial-scale=1"
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag "application", "data-turbo-track": "reload"
body
= render 'layouts/header', user: @user
p.notice = notice
p.alert = alert

.wrapper.w-full.p-4
  = yield
